{% extends "base.html" %}

{% block table %}

{% load static %}
{% load admin_urls %}

<div class="container-fluid">
    <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Доска изобр.</th>
                <th>Дата изг.</th>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Изготовитель</th>
                <th>Заказчик</th>
                <th>Описание</th>
                <th>Обслуживание</th>
                <th>Спуск</th>
                <th>Ножи</th>
                <th>Edit</th>

            </tr>
        {% for doska in table %}
            <tr>
                <td><a href="{% if doska.doska %}{{ doska.doska.url }}{% endif %}"><img src="{% if doska.doska %}{{ doska.doska.url }}{% endif %}" height=120px></a></td>
                <td>{{ doska.make_date|date:"d N Y" }}</td>
                <td>{{ doska.articul }}</td>
                <td>{{ doska.name }}</td>
                <td>{{ doska.contractor.name }}</td>
                <td>{{ doska.customer }}</td>
                <td>{{ doska.description }}</td>
                <td>{{ doska.maintenance }}</td>
                <td><a href="{{ doska.spusk.url }}"><img src="{{ doska.spusk.url }}" height=120px></a></td>
                <td><a href="{% url 'knife_list' doska.pk %}">Ножи на доске</a></td>
                <td><a href="{% url 'admin:stanzforms_doska_change' doska.pk %}">Edit</a></td>

{#                <td><a type="button" class="btn-sm btn-default" href="{% url 'print_order' row.pk %}">#}
{#                    <span class="glyphicon glyphicon-print"></span></a>#}
{#                    <a type="button" class="btn-sm btn-default" href="{% url 'print_pdf' row.pk %}">#}
{#                    <span class="glyphicon glyphicon-bell"></span></a>#}
{#                    <a type="button" class="btn-sm btn-default" href="{% url 'copy_order' row.pk %}">#}
{#                    <span class="glyphicon glyphicon-copy"></span></a>#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
