[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
reportlab = "*"
pysmb = "*"
pdfrw2 = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-guardian = "*"
django-admin-sortable2 = "*"
borb = "*"

[dev-packages]

[requires]
python_version = "3.10"
